<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Edna Novido Photography</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>


  <style>
    body {
      background-image: url("img/Ice_White_Gradient_by_Halaxega.png");
      background-repeat: repeat-x;
    }
  </style>
</head>

<body ng-controller="myAppCtrl">
  <div class="container-fluid">
    <ul class="nav nav-pills">
      <li class="{{finearts}}" ng-click="myFunction('#/finearts')"><a href="#/finearts">Finearts</a></li>
      <li class="{{portraits}}" ng-click="myFunction('#/portraits')"><a href="#/portraits">Portraits</a></li>
      <li class="{{sports}}" ng-click="myFunction('#/sports')"><a href="#/sports">Sports</a></li>
      <li class="{{weddings}}" ng-click="myFunction('#/weddings')"><a href="#/weddings">Weddings</a></li>
      <li class="{{realEstate}}" ng-click="myFunction('#/realEstate')"><a href="#/realEstate">Real Estate</a></li>
      <li class="{{events}}" ng-click="myFunction('#/events')"><a href="#/events">Events</a></li>
      <li class="{{aboutme}}" ng-click="myFunction('#/aboutme')"><a href="#/aboutme">About Me</a></li>
      <!--<li class="{{act2}}" ng-click="myFunction('#/jobhunt')"><a href="#/jobhunt">Job Hunting</a></li>-->
      <!--<li><a href="#/photography">Photography</a></li>-->
      <!--<li><a href="#/view2">view2</a></li>-->
    </ul>
  </div>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div ng-view></div>

  <!--<div>Angular seed app: v<span app-version></span></div>-->

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="app.js"></script>

  <!--Photography-->
  <script src="aboutme/aboutme.js"></script>


  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
